{
 :linters {:unresolved-symbol
           {:exclude [(more-case.core/match? [_])]}

           :not-a-function
           {:skip-args [more-case.core/match?
                        more-case.core/case]}
           }


 }
