{
 :linters {:unresolved-symbol
           {:exclude [(esac.core/match? [_])]}

           :not-a-function
           {:skip-args [esac.core/match?
                        esac.core/case]}
           }


 }
